.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.dark-mode {
  background: #333;
  color: #fff;
}
body.dark-mode {
  background-color: #444;
  color: #ffffff;
}
.dark-mode a {
  color: #b4b0eb;
}

.dark-mode p {
  color: #ffffff;
}

.dark-mode .content-wrapper {
  background-color: #ffffff00;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome-png {
  width: 8em;
}
