body {
  margin: 0;
  font-family: "Sour Gummy", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: "Sour Gummy", sans-serif;
}

a {
  color: #7f7caf;
}
